<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
        <script type="text/javascript" src="/javascript/jquery.js"></script>
        <link type="text/css" rel="stylesheet" href="/styles/style.css">
    </head>
 
    <body>
        <h2>Merci de saisir votre login</h2>
        <input type="text" id="saisie" autocomplete="off">
        <div id="resultat"></div>
        <script type="text/javascript" src="/javascript/Script.js"></script>
    </body>
</html>
